body{
font-family: Arial, sans-serif;
margin:0;
background-color:#F5E6C8;
}


/* HEADER */

header{
background-color:#7A0C0C;
color:white;
padding:20px;
text-align:center;
}


/* AREA DO LOGO */

.logo-area{
display:flex;
align-items:center;
justify-content:center;
gap:15px;
}

.logo{
height:70px;
}


/* MENU */

nav{
margin-top:10px;
}

nav a{
color:#F5E6C8;
margin:15px;
text-decoration:none;
font-weight:bold;
}

nav a:hover{
color:#556B2F;
}


/* BANNER */

.banner{
background-color:#556B2F;
color:white;
text-align:center;
padding:70px;
}


/* SOBRE */

.sobre{
padding:40px;
text-align:center;
color:#5C3A21;
}


/* RODAPÉ */

footer{
background-color:#5C3A21;
color:#F5E6C8;
text-align:center;
padding:15px;
}
