<nav>
<a href="../inicio/index.html">Início</a>
<a href="../cardapio/cardapio.html">Cardápio</a>
<a href="../endereco/endereco.html">Endereço</a>
<a href="../contato/contato.html">Contato</a>
<a href="../avaliacao/avaliacao.html">Avaliação</a>
</nav>
body{
    font-family: Arial, sans-serif;
    background-color: #f5f5f5;
}

header{
    background-color: #8B0000;
    color: white;
    padding: 20px;
}

nav a{
    color: white;
    margin-right: 10px;
    text-decoration: none;
}
